#v65-modalContentHeader{
	background: $headingFontColor;
}

.content{
	background: $secondBackgroundColor;
}

	.pageContent{
		max-width: 1024px;
		margin: 0 auto;
		@media screen and (max-width: 767px){
			padding: 1em 1em 0;
		}
		
		@media screen and (min-width: 768px){
			padding: 3em;
		}
	}

.colWrapper {
	margin-bottom: 2em;
	width: 100%;
}

	.colWrapper:before,.colWrapper:after { content:""; display:table; }
	.colWrapper:after { clear:both; }


	.col2 { 
		float: left;
		margin-left: 6%;
		width: 47%;
	}

	.col2:first-child { 
		float: left;
		margin-left: 0%;
		width: 47%;
	}

	.col22 {
		float: left;
		margin-left: 6%;
		width: 29%;
	}

	.col22:first-child {
		margin-left: 0;
		width: 65%;
	}

	.col3 { 
		float: left;
		margin-left: 5%;
		width: 30%;
	}

	.col3:first-child { 
		float: left;
		margin-left: 0%;
		width: 30%;
	}

	.col4 {
		float: left;
		margin-left: 3%;
		width: 22.7%;
	}

	.col4:first-child {
		margin-left: 0;
	}

	@media screen and (max-width: 850px) {
		.col4 {
			margin: 0 2% 3em;
			width: 46%
		}

		.col4:first-child {
			margin-left: 2%;
		}
	}

	@media screen and (max-width: 580px) {

		.col2 { 
			float: none;
			margin-left: 0;
			margin-bottom: 1.5em;
			width: 100%;
		}

		.col2:first-child { 
			float: none;
			width: 100%;
		}

		.col22,
		.col22:first-child {
			float: none;
			margin: 0 0 2em;
			width: 100%;
		}

		.col3 { 
			float: none;
			margin-left: 0;
			margin-bottom: 1.5em;
			width: 100%;
		}

		.col3:first-child { 
			float: none;
			width: 100%;
		}

		.col4,
		.col4:first-child {
			float: none;
			margin: 0 0 2em;
			width: 100%;
		}

	}

/* ----- a. Homepage Styles ----- */
@import 'content_home';

/* ----- b. Page Styles ----- */
@import 'content_page';

/* ----- c. Store Styles ----- */
@import 'content_store';