#v65-modalContentHeader{
	background: $headingFontColor;
}

.content{
	background: $secondBackgroundColor;
}

	.pageContent{
		max-width: 1024px;
		margin: 0 auto;
		@media screen and (max-width: 767px){
			padding: 1em 1em 0;
		}
		
		@media screen and (min-width: 768px){
			padding: 3em;
		}
	}

/* ----- a. Homepage Styles ----- */
@import 'content_home';

/* ----- b. Page Styles ----- */
@import 'content_page';

/* ----- c. Store Styles ----- */
@import 'content_store';