.menu-visible {
	overflow-x:hidden;
	width: 100%;
}

.animating, .menu-visible {
  display: block;
}
 
.animating {
  transition: transform .25s ease-in-out;
  -webkit-transition: -webkit-transform .25s ease-in-out;
}
 
.menuText {
	text-indent: -9999px;
	line-height: 0; /* Collapse the original line */
	padding:0;

	&::after {
		@media screen and (min-width:581px){
			content: "Menu";
			text-indent: 30px;
			display: block;
			line-height: initial; /* New content takes up original line height */
			padding:0;
		}
	}
}

.menuIcon {
	position: relative;
	z-index: 1000;

	@media screen and (min-width:581px){
		display: none;
	}

	@media screen and (max-width:580px){
		background: url('/assets/images/menu-mobile.png') no-repeat center;
		width:22px;
		height:15px;
		float:left;
		display:block;
		padding:15px;
	}

	&:hover {
		text-decoration: none;
	}

	span {
		padding:0;
		font-family: arial;
		color: #fff;
	}
}

.tabletWrapper {
	max-width: 1024px;
	margin: 0 auto;
	@media screen and (max-width:580px){
		background: $backgroundColor;
	}
}

.tabletMenu {
	display:none;
	@media screen and (max-width:1030px){
		display:block;
		float: left;
	}
}

/* ----- a. Main Menu ----- */
.mainMenu{
	font:{
		size: 18px;
		family: $headingFontFamily;
		weight: 300;
	}

	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	position: relative;
	z-index:2;

	&.animating{
		&.leftAnimate {
			transform: translate3d( 240px, 0, 0 );
			-webkit-transform: translate3d( 240px, 0, 0 );
		}

		&.rightAnimate {
			transform: translate3d( -240px, 0, 0 );
			-webkit-transform: translate3d( -240px, 0, 0 );
		}
	}

	&.menu-visible {
		left:0 !important;
	}

	@media screen and (max-width:580px){
		z-index: 102;
		left:-240px;
		overflow:scroll;
		-webkit-overflow-scrolling: touch;
		position: absolute;
		top: 48px;
		width: 240px;
		background: #000;
		text-transform: capitalize;
		z-index: 102;
	}
	@media screen and (min-width:581px){
		position: relative;
		z-index: 101;
	}
	@media screen and (min-width: 768px){
		clear:both;
		margin: 0 auto;
	}

	ul{
		background: $navMenuBackground;
		list-style: none;
		margin: 0;
		padding: 0;

		@media screen and (min-width:581px){
			position: relative;
			text-align: center;
		}

		@media screen and (max-width: 580px){
			text-align: left;
		}

		@media screen and (min-width: 768px){
			text-align: center;
		}

		ul{
			border: 1px solid $borderColor;
			background: $subNavBackgroundColor;
			font-size: 14px;
			@media screen and (min-width:581px){
				display: none;
				left: -10px;
				top:45px;
				position: absolute;
				width: 180px;
			}
		}
	}

	li{
		@media screen and (min-width:581px){
			display: inline-block;
			padding: 0;
			position: relative;
			-webkit-tap-highlight-color: rgba(0,0,0,0);

			&:first-child{
				margin-left: 0;
			}

			// Drop Down
			&:hover ul{
				@media screen and (min-width: 768px){
					display: block;
				}
			}
		}

		li{
			margin: 0;
			text-align: left;
			padding: 0;
			@media screen and (min-width:581px){
				display: block;
				float: none;
				width: 180px;
			}
			@media screen and (max-width: 580px){
				padding:0.3em 0;
			}

			a{
				color: $subNavLinkColor;
				margin: 0;
				padding: 0;
				text-align: left;
				text-transform: none;
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				@media screen and (min-width:581px){
					display: block;
					height: 28px;
					line-height: 28px;
					padding: 10px 0 10px 10px;
					width: 170px;
				}

				@media screen and (max-width:580px){
					margin-left: 20px;
				}

				&:hover{
					@media screen and (min-width:581px){
						color: $subNavLinkHover;
						background:$subNavBackgroundHover;
					}
				}
			}
		}
	}

	a{
		color: $navLinkColor;
		display: inline-block;
		margin: 0;
		padding:8px 30px;
		text-decoration: none;

		@media screen and (min-width:581px){
			position: relative;
		}
		
		@media screen and (max-width:580px){
			padding:0.3em;
		}

		@media screen and (max-width: 767px){
			height: 32px;
			line-height: 32px;
		}

		@media screen and (min-width: 768px){
			height: 32px;
			line-height: 32px;
		}

		&:hover{
			color: $navLinkHover;
			text-decoration: underline;
		}
	}

	.v65-home{
		@media screen and (max-width: 919px){
			display: none;
		}
	}

	.v65-selected, .v65-pageAParent{
		color: $navLinkHover;
		font-weight: bold;
		text-decoration: underline;
	}

	.footerMenuLink{
		display: none;
	}
}

/* ----- b. Sub Menu ----- */
.subMenu{
	margin-bottom: 0;
	margin-top: 6%;

	@media screen and (min-width: 768px){
		border-right: 1px solid $borderColor;
		float: left;
		margin-right: 4%;
		padding-right: 2%;
		width: 17.5%;
	}

	h3{
		font-size: 2em;
		@media screen and (max-width: 767px){
			display: none;		
		}
	}

	ul{
		list-style: none;
		margin-bottom: 0;
		padding: 0;
	}

	li{
		line-height: 4;

		@media screen and (max-width: 767px){
			border-top: 1px solid $borderColor;
			line-height: 44px;
			text-align: center;
		}

		ul{
			margin-left: 10px;
		}
	}

	a{
		display: inline-block;
		line-height: 1.5;
		width: 100%;
		font-family:$headingFontFamily;
		@media screen and (min-width:768px){
			font-size: 16px;
		}
		@media screen and (max-width:767px){
			font-size: 14px;
		}
	}

	.v65-pageAParent {
		color: $navSelected;
	}

	.v65-leftSelected{
		color: $leftNavSelected;
		font-weight: bold;
	}
}