@import 'themes/themeSettings_black';
// @import 'themes/themeSettings_blue';
// @import 'themes/themeSettings_red';

// Global Fonts
$Helvetica: 'Helvetica', sans-serif;
$Roboto: 'Roboto Slab', serif;

// Global Variables
$maxWidth: 990px;
$fontFamily: $Helvetica;
$headingFontFamily: $Roboto;


@mixin gradient($color1, $color2){
	background-color: $color1;
	background-image: -webkit-linear-gradient(top, $color1, $color2);
	background-image: -moz-linear-gradient(top, $color1, $color2);
	background-image: -ms-linear-gradient(top, $color1, $color2);
	background-image: -o-linear-gradient(top, $color1, $color2);
	background-image: linear-gradient(top, $color1, $color2);
}

@mixin boxSizing{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.hideText{
	overflow:hidden;
	text-indent:100%;
	white-space:nowrap;
	
	a{
		display:block;
		height:100%;
	}
}