// Colors
$grey: #595959;
$grey-light: #4D4D4D;
$grey-dark: #333;
$black: #000;
$white: #fff;
$offWhite: #f0f0f0;
$blue: #138085;
$blue-light: #3b73ac;
$blue-dark: #2e5b87;
$offBlack: #111;
$black-grey: #333333;
$flatgrey: #999999;
$red: #E84C3D;
$teal: #f3af40;
$orange: #d35400;

// Font Colors
$fontColor: $offBlack; // Main Body Content font color
$linkColor: $blue; // Main Body content link color

// Background Color
$backgroundColor: $blue; // Main Background Color
$secondBackgroundColor: $offWhite; // The secondary background color
$homepageContentColor: $white; // Homepage content background color
$contentBackgroundColor: $white; //Content background color
$contentBoxShadow: $flatgrey;
$topBorderColor: $blue;

// Heading Colors
$headingFontColor: $black-grey; // Default Heading Font Color
$homeHeadingFontColor: $white; // Default Homepage Font Color
$headerFontColor: $grey-light; // Font Color outside the container
$headerFontColorHover: $black; // Hover font color outside the container

// User Tools Colors
$topBarColor: $black; // User Tools background color

$userToolsLinkColor: $grey-light; // Link Color for user tools tablet + desktop

// Navigation Colors
$navLinkColor: $white; //Font Color for main navigation
$navLinkHover: $offWhite; //Font Hover for main navigation
$navMenuBackground: $grey-light; //Navigation background color

$navSelected: $white;
$leftNavSelected: $black;

$subNavLinkColor: $white; //Font Color for sub navigation
$subNavLinkHover: $offWhite; //Font Color for sub navigation hover
$subNavBackgroundColor: $grey-dark; //Background Color for sub navigation
$subNavBackgroundHover: $grey; //Background Hover for sub navigation

// Footer Colors
$footerColor: $black-grey; //Footer Color
$footerLink: $black-grey; // Footer Link
$footerLinkHover: $offBlack; // Footer Link Hover
$footerBackgroundColor: $offWhite; // Footer Background Color

$footerFontColor: $black-grey; //Font Color outside the container
$footerFontColorHover: $offBlack; // Hover font color outside the container

// Border Colors
$borderColor: $grey-light; // Main Border Color

// Button Colors
$mainButtonColor: $teal; // Main Button Color

$mainButtonHover: lighten($teal, 5%);

$mainButtonText: $white; // Main Button Font Color
$boxShadowColor: $blue; // Box Shadow Color
$boxShadowHover: $blue-light; // Box Shadow Hover Color

$altButtonColor: $grey-light; // Main Button Color

$altButtonHover: lighten($grey-light, 5%);

$altButtonText: $black; // Alt Button Font Color
$altBoxShadowColor: $grey-light; // Box Shadow Color

// Form Colors
$quanityForm: $grey-light; // Add to cart quanity input form field background color.
$quanityFormFont: $black; // Add to cart quanity input form field font color.

// Back to Top Colors
$backToTop: $grey-dark; // Back to top button color
$backToTopFont: $white; // Back to top button font color

// Logo Settings
$logo: 'logo.png';
$logo-retina: 'logo@2x.png';